/*
    SLIDESHOW STYLE
 */

.slideshow-container{
    padding: 10px;
    margin-bottom: 20px;
    background-color: black;
    /*max-height: 1000px;*/
    max-width: 1000px;
    /*margin-top: 150px;*/
}
/* Hide the images by default */
.mySlides {
    display: none;
    font-size: xx-large;
}

.slideImg{
    position: relative;
    width: 100%;
    /*height: 80%;*/
    opacity: .4;
    transition: opacity 0.5s;
}

/* Next & previous buttons */
.prev, .next{
    font-size: x-large;
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
    left: 0;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}


.slide-caption{
    position: absolute;
    /*bottom: 8px;*/
    width: 100%;
    /*height: 100%;*/
    top: 10%;
    text-align: center;
    color: #ffffff;
    /*vertical-align: center;*/
    font-weight: bolder;
    font-size: inherit;
    user-select: none;
    transition: font-size 1s;
}

.fadeAnimate{
    animation-name: fade;
    animation-duration: 1s;

}

@keyframes fade{
    from {opacity: .1}
    to {opacity: 1}
}

.slideImg:hover{
    opacity: .2;
}

.mySlides:hover{
    font-size: 60px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px) {
    .next, .prev{ font-size: small;}
    .mySlides{font-size: medium;}
    .mySlides:hover{
        font-size: large;
    }
}